header{
	background-color:#0b3109; 
	padding: 1em;
}
#minutes{
	width: 20px;
	border: none;
	background-color:none;
	font-size: 16px;
	font-weight: bold;
	color: #e26013;
}
#seconds{
	width: 26px; 
	border: none; 
	background-color:none; 
	font-size: 16px; 
	font-weight: bold; 
	margin-right: 30px;
	color: #e26013;

}
#points{
	border: none; 
	font-size: 16px; 
	font-weight: bold;
	color: #e26013;

}
#canJigsaw{
	border: black solid 2px;
	background-color: #93c4ca;
}
#title{
	font-weight: bold;
	font-size: 22px;
	margin-left: 1%;
	color: #116bb5;
}
.button{
	border: 0px;
	background-color: transparent;
	font-size: 15px;
	color: #de7536;
}
#timer{
	font-weight: bold;
}
.level-title{
	font-size: 22px;
	margin-left: 23%;
	color: #ffffff;
	font-weight: bold;
}
.score{
	font-size: 20px;
	font-weight: bold;
	color: #35c5b9;
	margin-left: 50%;
}
#score-input{
	border: none;
	font-weight: bold;
	font-size: 20px;
	width: 30px;
	color:#35c5b9;
	background-color: transparent;
}
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border-radius: 25px;
  border: solid #ffffff;
  width: 400px;
  height: auto;
  background-position: center center;
  background-color: #ffffff;
 
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.image{
	width: 240px;
	margin-left: 20%;
}